* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 50%;
    margin: auto;
    box-shadow: 0 3px 10px rgba(31, 29, 29, 0.1);
    height: 90vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

#principal, #rate, #time {
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.vallain {
    
}

h3 {
    text-align: center;
    margin-top: 20px;
}

#calculateBtn {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    text-align: center;
    color: #706c6c;
    margin-bottom: 3rem;
}